/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.app{
  height: 100%;
}
.buttonsContainer {
  display: flex;
  -webkit-app-region: no-drag;
  height: 100%;
}
   /* Стили для кастомного заголовка */
 .custom-titlebar {
   -webkit-app-region: drag; /* Разрешаем перетаскивание окна */
   height: 4%;
   background-color: #313338FF;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .close {
   width: 40px;
   justify-content: center;
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 .logo {
   font-weight: bold;
   color: white;
   margin-left: 10px;
   opacity: 0.2;
 }

 .close:hover {
   background-color: #F03F42FF;
 }

 .minimize {
   width: 40px;
   justify-content: center;
   display: flex;
   cursor: pointer;
   align-items: center;
 }

 .minimize:hover {
   background-color: rgba(255, 255, 255, 0.24);
 }


